body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100vh;
    display: flex; 
    flex-direction: column;
    margin: auto;
}

.header {
    height: 72px;
    background-color: #708090;
    border: rgb(56, 70, 83);
    border: 32px;
    padding: 12px;
    margin-bottom: 0px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    background-image: url(https://images.unsplash.com/photo-1641464992906-5e55dc3268da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDc1fGlVSXNuVnRqQjBZfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: -webkit-optimize-contrast;
}

.header h1 {
    margin-left: 36px;
}

.header ul li {
    list-style-type: none;
    gap: 32px;   
}

a {
    text-decoration: none;
    color: white;
}

#links li {
    display: inline;
    margin: 16px;
}


.introduction {
    background-color: #708090;
    display: flex;
    margin-top: 0px;
    flex-direction: row;
    align-content: center;
}

.text {
    justify-self: center;
    align-self: flex-start;
    margin-left: 120px;
    margin-top: 120px;
}

.introduction h1 {
    font-size: 36px;
}

.introduction p {
    font-size: 24px;
    flex-wrap: wrap;
}

.intro {
    border-radius: 25px;
    width: 120px;
    height: 60px;
}

.introduction img {
    width: 600px;
    height: auto;
    margin: 72px;
    float: left;
}

#content {
    margin-top: 300px;
    margin-bottom: 300px;
}

#content h1 {
  font-size: 48px;
  margin-left: 100px;
  text-align: center;
}

.animals {
    display: flex;
    flex-direction: row;
    gap: 16px;
    text-align: center;
    align-items: center;
}

.animal-icon {
    width: 300px;
    height: auto;
    border-radius: 25px;
    border: 10px solid white;
}

.quote {
  background-color: #708090;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 300px;
  margin-bottom: 300px;
  border-radius: 25px;
  width: 1300px;
  height: auto;
}

.quote p1 {
  font-size: 36px;
}

.quote p2 {
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
}

#register {
  font-size: 22px;
  background-color: #708090;
  border-radius: 25px;  
  margin: 64px;
  display: flex;
  justify-content: center;
  margin-bottom: 300px;
}

.gmail {
    border-radius: 25px;
    background-color: dimgray;
    margin: 12px;
}

.footer {
    height: 72px;
    background-color: #708090;
    border: rgb(56, 70, 83);
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}